/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-MediumItalic.woff') format('woff'),
      url('webfonts/HighgateTrial-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-Medium.woff') format('woff'),
      url('webfonts/HighgateTrial-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-LightItalic.woff') format('woff'),
      url('webfonts/HighgateTrial-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-Regular.woff') format('woff'),
      url('webfonts/HighgateTrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-SemiBold.woff') format('woff'),
      url('webfonts/HighgateTrial-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-SemiBoldItalic.woff') format('woff'),
      url('webfonts/HighgateTrial-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-Thin.woff') format('woff'),
      url('webfonts/HighgateTrial-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-ThinItalic.woff') format('woff'),
      url('webfonts/HighgateTrial-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate XBold';
  src: url('webfonts/HighgateTrial-XBold.woff') format('woff'),
      url('webfonts/HighgateTrial-XBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate XBold';
  src: url('webfonts/HighgateTrial-XBoldItalic.woff') format('woff'),
      url('webfonts/HighgateTrial-XBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-Bold.woff') format('woff'),
      url('webfonts/HighgateTrial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-BoldItalic.woff') format('woff'),
      url('webfonts/HighgateTrial-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-Black.woff') format('woff'),
      url('webfonts/HighgateTrial-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-BlackItalic.woff') format('woff'),
      url('webfonts/HighgateTrial-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate Hairline';
  src: url('webfonts/HighgateTrial-Hairline.woff') format('woff'),
      url('webfonts/HighgateTrial-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate Hairline';
  src: url('webfonts/HighgateTrial-HairlineItalic.woff') format('woff'),
      url('webfonts/HighgateTrial-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-Italic.woff') format('woff'),
      url('webfonts/HighgateTrial-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Highgate';
  src: url('webfonts/HighgateTrial-Light.woff') format('woff'),
      url('webfonts/HighgateTrial-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'NovelDisplay-BoldXCnd';
  src: url('webfonts/NovelDisplay-BoldXCnd.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBlack';
  src: url('webfonts/NovelDisplay-ExtraBlack.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBlackCmp';
  src: url('webfonts/NovelDisplay-ExtraBlackCmp.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBlackXCmp';
  src: url('webfonts/NovelDisplay-ExtraBlackXCmp.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBlackXCnd';
  src: url('webfonts/NovelDisplay-ExtraBlackXCnd.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBlackCnd';
  src: url('webfonts/NovelDisplay-ExtraBlackCnd.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay';
  src: url('webfonts/NovelDisplay-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBoldXCnd';
  src: url('webfonts/NovelDisplay-ExtraBoldXCnd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBoldXCmp';
  src: url('webfonts/NovelDisplay-ExtraBoldXCmp.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay';
  src: url('webfonts/NovelDisplay-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraLightCmp';
  src: url('webfonts/NovelDisplay-ExtraLightCmp.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBoldCmp';
  src: url('webfonts/NovelDisplay-ExtraBoldCmp.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraBoldCnd';
  src: url('webfonts/NovelDisplay-ExtraBoldCnd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-LightCnd';
  src: url('webfonts/NovelDisplay-LightCnd.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraLightXCmp';
  src: url('webfonts/NovelDisplay-ExtraLightXCmp.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-LightXCmp';
  src: url('webfonts/NovelDisplay-LightXCmp.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay';
  src: url('webfonts/NovelDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-LightCmp';
  src: url('webfonts/NovelDisplay-LightCmp.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-ExtraLightXCnd';
  src: url('webfonts/NovelDisplay-ExtraLightXCnd.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-LightXCnd';
  src: url('webfonts/NovelDisplay-LightXCnd.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-MediumXCmp';
  src: url('webfonts/NovelDisplay-MediumXCmp.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-MediumCnd';
  src: url('webfonts/NovelDisplay-MediumCnd.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay';
  src: url('webfonts/NovelDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-MediumCmp';
  src: url('webfonts/NovelDisplay-MediumCmp.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay';
  src: url('webfonts/NovelDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-RegularCnd';
  src: url('webfonts/NovelDisplay-RegularCnd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-RegularCmp';
  src: url('webfonts/NovelDisplay-RegularCmp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-MediumXCnd';
  src: url('webfonts/NovelDisplay-MediumXCnd.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-RegularXCnd';
  src: url('webfonts/NovelDisplay-RegularXCnd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NovelDisplay-RegularXCmp';
  src: url('webfonts/NovelDisplay-RegularXCmp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




:root {
  --theme__color1: #E4002B;
  --theme__color2: #FFD600;
  --theme__color3: #012148;
  --theme__color4: #9BBEA7;
  --highgate: 'Highgate';
  --novel-display: 'NovelDisplay';
  --inter: 'Inter', sans-serif;
  --poppins: 'Poppins', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000000;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--highgate);
}
a, a:active, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
  font-family: var(--novel-display);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1699px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1700px) {
  .container {
    max-width: 1410px;
  }
}



/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {

}
.header__top {
  padding: 16px 0;
  background: var(--theme__color3);
  color: #fff;
}
.header__top__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top__inner p {
  gap: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: 700;
}
.header__top__inner p .info-i {
}
.header__top__inner .s-menu {
  margin-left: -140px;
}
.s-menu {
  display: flex;
  gap: 16px;
}
.s-menu li {

}
.s-menu li a {
  transition: 0.3s;
  display: block;
}
.s-menu li a:hover {
  opacity: 0.8;
}

.header__main {
  position: relative;
}
.header__main__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 300px;
  display: flex;
}
.header-logo img {
  width: 100%;
}
.main-menu {

}
.main-menu > ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  font-weight: 700;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover {
  text-decoration: underline !important;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px !important;
}
.main-menu > ul > li > a.active {
  color: rgba(0, 0, 0, 0.7);
}
/* header-end */


/* ---mega-menu--- */
.mega-menu {
  padding: 50px 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 2px solid #C8C8C8;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translate(0,10px);
}
.main-menu > ul > li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.mega-menu__inner {

}
.mega-menu__str-1 {
  padding: 0 0 0 150px;
  --bs-gutter-x: 80px;
  --bs-gutter-y: 0;
}
.mega-m-card {
  gap: 30px;
  display: flex;
  border-right: 1px solid #C8C8C8;
}
.mega-menu__str-1 [class*="col"]:last-child .mega-m-card {
  border-right: none;
}
.mega-m-card__image {
  width: 229px;
  flex-shrink: 0;
}
.mega-m-card__image img {

}
.mega-m-card__content {

}
.mega-m-card__content h4 {
  font-size: 18px;
  margin: 0 0 12px;
  text-transform: uppercase;
}
.mega-m-card__content p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
}
.mega-m-card__content p a {
  transition: 0.3s;
}
/* ---mega-menu---end */




/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: var(--theme__color1);
}
.offcanvas-close {
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: var(--theme__color1);
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: var(--theme__color3);
  color: #fff;
  height: 100%;
  padding: 50px 0px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu > li > a {
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding: 11px 25px;
  border-bottom: 1px solid #ffffff70;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu > li > a:hover,
.mobile-menu > li > a[data-bs-toggle]:not(.collapsed) {
  color: var(--theme__color1);
  background: #fff;
}
.mobile-menu > li > a > .ind {
  font-size: 12px;
  transition: 0.3s;
}
.mobile-menu > li > a:not(.collapsed) > .ind {
  transform: rotate(180deg);
}
.mobile-mega-menu {
  background: #012d63;
}
.mobile-mega-menu__inner {
  padding: 22px 25px;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/


/* ---common--- */
.h2 {
  font-size: 25px;
  margin: 0 0 12px;
  font-weight: 600;
  gap: 18px;
}
.h2-b {
  font-size: 40px;
}
.h2 .gold-cup {
  width: 54px;
}
.h3 {

}
.h4-box {
  min-height: 41px;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 20px 0 20px 0;
  font-weight: 700;
  color: #fff;
  background: var(--theme__color1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.cont-blk p {
  font-size: 18px;
  font-weight: 400;
}
.sec-title {
  margin: 0 0 37px;
}
/* ---common---end */


/* ---slider--- */
.slider-dots-1 .owl-dots {
  display: flex;
  gap: 6px;
}
.slider-dots-1 .owl-dot {
  height: 15px;
  width: 15px;
  background: #BFBFBF !important;
  border-radius: 50%;
}
.slider-dots-1 .owl-dot.active,
.slider-dots-1 .owl-dot:hover {
  background: #FFFFFF !important;
}

.slider-arrow-1 .owl-nav {

}
.slider-arrow-1 .owl-nav button {
  font-size: 16px !important;
  font-weight: 600;
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 12px;
}
.slider-arrow-1 .owl-nav button img {
  width: 24px !important;
}
/* ---slider---end */


/* ---hero-section--- */
.hero-section {

}
.hero-slider {

}
.hero-slider .owl-dots {
	position: absolute;
	bottom: 126px;
	left: 50%;
	transform: translate(calc(-50% - 620px),0);
}
.hero-slider .owl-nav {
	position: absolute;
	bottom: 122px;
	left: 50%;
	transform: translate(calc(-50% - 520px),0);
}
.hero-slider .owl-prev {
  display: none !important;
}
.hero-slide {
  padding: 158px 0 195px;
  color: #fff;
}
.hero-slide__inner {

}
.hero-slide__content {

}
.hero-slide__content .h4-box {
  margin: 0 0 15px;
}
.hero-slide__content .h1 {
  font-size: 60px;
  margin: 0 0 10px;
  font-weight: 700;
}
.hero-slide__content h2 {
  font-size: 40px;
  line-height: 1.45;
  font-weight: 300;
  font-family: var(--highgate);
}
.hero-slide__content .hr-countdown {
  margin: 23px 0 0;
}
.hr-countdown {
  padding: 25px 36px;
  border-radius: 40px;
  gap: 38px;
  background: #fff;
  display: inline-flex;
  align-items: center;
}
.hr-countdown .r-button {

}
.countdown-c {
  display: flex;
}
.countdown-c .time-count {
  font-size: 35px;
  font-weight: 700;
  font-family: var(--novel-display);
  color: var(--theme__color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 34px;
  margin-right: 34px;
}
.countdown-c .time-count:last-child {
  border-right: none;
  padding-right: 0px;
  margin-right: 0px;
}
.countdown-c .time-count .title {
  font-size: 25px;
  font-weight: 300;
  font-family: var(--highgate);
}


/* hero-news-row */
.hero-news-row {
  margin-top: -286px;
  padding-bottom: 100px;
  background: url('images/hero-news-bg.svg') no-repeat center center/100% 100%;
  color: #fff;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.hero-news-row__inner {
  padding-left: 9.5%;
}
.hero-news__content {
  padding-top: 312px;
}
.hero-news__content h3 {
  font-size: 30px;
  line-height: 1.3;
  margin: 0 0 22px;
  font-weight: 600;
}
.hero-news__content h4 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 300;
  font-family: var(--highgate);
  margin: 0;
}
.hero-news__content .buttons {
  margin: 30px 0 0;
  gap: 24px;
  display: flex;
}
.hero-news__content .buttons .button {
  pointer-events: auto;
}

.hero-news-cards__wrapper {
  padding-top: 74px;
  max-width: 370px;
}
.hero-news-cards__wrapper .t-h3 {
  margin: 0 0 24px;
  font-size: 25px;
  font-family: var(--novel-display);
  text-align: right;
}
.hero-news-cards__wrap {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.hero-news-card {
  padding: 13px 20px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: auto;
}
.hero-news-card h4 {
  font-size: 19px;
  text-transform: uppercase;
} 
/* ---hero-section---end */


/* ---partners-section--- */
.partners-section {
  padding: 45px 0 55px;
  background: #FAFAFA;
}
.partners-section__inner {
  padding: 0 9.5%;
}
.partners-section__title {

}

.partners__wrap {
  grid-gap: 47px;
  grid-template-columns: repeat(7,1fr);
  display: grid;
}
.partners__single {

}
.partners__single .img {
  width: 100%;
}
/* ---partners-section---end */


/* ---winner-section--- */
.winner-section {
  padding: 40px 0;
  --in-offset: 6px;
}
.winner-section__title {

}
.winner-section__title__inner {

}

.winner__d-card__wrap {
  --bs-gutter-x: var(--in-offset);
  --bs-gutter-y: var(--bs-gutter-x);
  margin-bottom: var(--in-offset);
}
.winner__d-card__wrap [class*="col"] {
  display: flex;
  flex-direction: column;
}
.winner__d-card {
  padding: 67px;
  flex-grow: 1;
}
.winner__d-card__inner {
  max-width: 411px;
  margin: 0 auto;
}
.winner__d-card__title {
  margin: 0 0 22px;
}
.winner__d-card__title h4 {
  font-size: 20px;
  margin: 0 0 2px;
  color: var(--theme__color2);
}
.winner__d-card__title h3 {
  font-size: 30px;
}
.winner__d-card__body {
  padding-left: 32px;
  position: relative;
}
.winner__d-card__body .quote {
  color: var(--theme__color2);
  font-size: 50px;
  font-family: var(--novel-display);
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
}
.winner__d-card__body p {
  font-size: 18px;
  font-weight: 300;
}

.winner-card__wrap {
  --bs-gutter-x: var(--in-offset);
  --bs-gutter-y: var(--bs-gutter-x);
  margin-bottom: var(--in-offset);
}
.winner-card__group {
  --bs-gutter-x: var(--in-offset);
  --bs-gutter-y: var(--bs-gutter-x);
  position: relative;
}
.winner-card__group__title {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%,0);
  width: max-content;
}
.winner__card {
  padding: 27px;
  min-height: 620px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.winner__card__content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: -50px;
}
.winner__card__content .h4-box {
  margin: 0 0 13px;
}
.winner__card__content h3 {
  font-size: 25px;
  line-height: 1.35;
}
.winner__card__cup {
  margin-top: auto;
  font-size: 60px;
  font-weight: 600;
  display: flex;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  line-height: 1;
}
.winner__card__cup .cup {
  width: 43px;
}
.winner__card__cup .txt {
  color: var(--theme__color2);
}

.winner-sec__bottom {
  padding: 30px 0;
  gap: 18px;
  background: var(--theme__color3);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.winner-sec__bottom h4 {
  font-size: 25px;
}
/* ---winner-section---end */


/* ---lens-section--- */
.lens-section {
  padding: 65px 0;
}
.lens-section__inner {

}
.lens-section__title {

}


.lens-card-wrap {
  grid-gap: 6px;
  grid-template-columns: repeat(5,1fr);
  display: grid;
}
.lens-card {
  min-height: 360px;
}
/* ---lens-section---end */



/* ---contact-section--- */
.contact-section {
  padding: 65px 0;
  background: #FAFAFA;
}
.contact-section__inner {

}
.contact-section__title {

}

.contact-form {
  max-width: 720px;
  margin: 0 auto;
}
.contact-form__main {
  --bs-gutter-x: 40px;
  --bs-gutter-y: 20px;
}
.contact-form__bottom {

}
.contact-form__bottom p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
/* ---contact-section---end */


/* ---input-x--- */
.single-input-x {
  width: 100%;
}
.input-x-outer {
  width: 100%;
}
.input-x {
  min-height: 42px;
  padding: 7px 23px;
  width: 100%;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 20px;
  font-weight: 300;
}
.input-x--submit {
  color: #fff;
  border-color: transparent;
  transition: 0.3s;
  background: url('images/arrow-right-white.svg') no-repeat calc(100% - 20px) center/24px auto;
  background-color: var(--theme__color3);
}
.input-x--submit:hover {
  background-color: var(--theme__color1);
}

.check-label-x {
  display: flex;
  gap: 23px;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}
.check-label-x .checkbox {

}
/* ---input-x---end */



/* ---footer-section--- */
.footer-section {
  border-top: 20px solid var(--theme__color4);
  background: var(--theme__color3);
  color: #fff;
}
.footer__top {
  padding: 55px 0;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 350px;
  display: block;
}
.footer-logo img {
  width: 350px;
}
.footer__top__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.f-menu {
  margin: 0 0 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.f-menu > li {

}
.f-menu > li > a {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.f-menu > li > a:hover {

}
.f-menu > li > a.active {
  color: rgba(255, 255, 255, 0.7);
}

.footer__bottom {
  padding: 40px 0 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
}
.footer__bottom__left {

}
.footer__bottom__right {
  text-align: right;
}
.fb-tg {
  margin: 0 0 30px;
}
.fb-tg h4 {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 600;
}
.fb-tg p {
  margin: 0 0 7px;
  font-weight: 300;
}
.fb-tg p a:hover {
  color: var(--theme__color1);
}
.copy-right {
  font-size: 14px;
  font-weight: 300;
}
/* ---footer-section---end */


/* ---news-section--- */
.news-section {
  padding: 45px 0 40px;
  background: #FAFAFA;
}
.news-section__inner {

}
.news-section__title {
  padding: 0 9.5%;
}

.section__white-box {
  padding: 35px 9.5%;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.news__wrap {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 60px;
  padding: 25px 0;
}
.news-card {
  gap: 25px;
  display: flex;
}
.news-card__image {
	flex-shrink: 0;
	width: 47.6%;
}
.news-card__image .img {
  width: 100%;
}
.news-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.news-card__content h3 {
  font-size: 22px;
  margin: 0 0 8px;
  text-transform: uppercase;
}
.news-card__content h5 {
  font-size: 16px;
  margin: 0 0 13px;
  font-weight: 500;
  font-family: var(--highgate);
}
.news-card__content p {
  font-size: 18px;
  font-weight: 300;
}
.news-card__content .bottom-button {
  margin-top: 10px;
}
/* ---news-section---end */


/* ---post-hero-section--- */
.post-hero-section {

}
.post-hero__image {
  width: 100%;
  height: 575px;
}
.post-hero__image .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.post-hero__content {
  padding: 40px 0;
  border-top: 20px solid var(--theme__color4);
  background: var(--theme__color3);
  color: #fff;
}
.post-hero__content__inner {

}
.post-hero__content h2 {
  font-size: 40px;
  margin: 0 0 10px;
}
.post-hero__content p {
  font-size: 30px;
  font-weight: 500;
  font-family: var(--highgate);
}
/* ---post-hero-section---end */



/* ---post-section--- */
.post-section {
  padding: 30px 0;
  background: #FAFAFA;
}
.post-section__inner {

}

.post-content {

}
.post-content p {
  margin: 0 0 25px;
  font-weight: 300;
}
.post-content p:last-child {
  margin: 0;
}

.post-map {
    width: 100%;
}
.post-map .img {
  width: 100%;
}
.post__space-m {
  margin-bottom:47px;
}
.post__space-l {
  margin-bottom: 90px;
}

.post-in-row {
  --bs-gutter-x: 40px;
--bs-gutter-y: var(--bs-gutter-x);
}
.post-col-img {
  width: 100%;
}
.post-col-img .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.post-in-card__wrap {
  --bs-gutter-x: 50px;
  --bs-gutter-y: var(--bs-gutter-x);
}
.post-in-card {
  padding: 13px 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: auto;
  color: #fff;
}
.post-in-card h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}
/* ---post-section---end */


/* ---p-faq--- */
.p-faq_wrap { 
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.p-faq-single {
  width: 100%;
  border: 1px solid #D4D4D4;
} 
.p-faq__title {
  padding: 10px 15px;
  min-height: 49px;
  gap: 15px;
  background: var(--theme__color3);
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
}
.p-faq__title:hover {
  color: #fff;
}
.p-faq__title .ind {

}
.p-faq__title .ind::after {
  content: '\f067';
  font-family: "Font Awesome 5 Pro";
  display: block;
  transition: 0.3s;
}
.p-faq__title:not(.collapsed) .ind::after {
  content: '\f068';
  transform: rotate(180deg);
}
.p-faq__title h3 {
  font-size: 18px;
  font-weight: 500;
}
.p-faq__body {

}
.p-faq__body__inner {
  padding: 22px 16px 28px;
  border: 1px solid #D4D4D4;
}
.p-faq__body__inner p {

}
.p-faq__body__inner .bottom-button {
  margin-top: 23px;
}
/* ---p-faq---end */


/* ---table-mdl-1--- */
.table-mdl-1 {

}
.table-mdl-1 table {
  --radius: 16px;
  --border: 1px solid #CCCCCC;
  border-radius: var(--radius);
  box-shadow: 0 2px 6px rgba(17, 17, 17, 0.07);
}
.table-mdl-1 table td {
  height: 50px;
  padding: 10px 15px;
  border-bottom: var(--border);
  border-right: var(--border);
  font-family: var(--inter);
  font-size: 17px;
  font-weight: 400;
  color: #888888;
}
.table-mdl-1 table td:first-child {
  border-left: var(--border);
}
.table-mdl-1 table tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius);
}
.table-mdl-1 table tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius);
}
.table-mdl-1 table thead td {
  font-size: 14px;
  font-weight: 600;
  font-family: var(--poppins);
  border-top: var(--border);
  color: #111111;
}
.table-mdl-1 table thead td:first-child {
  border-top-left-radius: var(--radius);
}
.table-mdl-1 table thead td:last-child {
  border-top-right-radius: var(--radius);
}
.table-mdl-1 table tbody tr:nth-child(even) td {
  color: #111111;
  background: #F6F6F6;
}



/* -table-mdl-1-str-1- */
.table-mdl-1-str-1 {
  overflow: auto;
  width: 100%;
}
.table-mdl-1-str-1 table {
  min-width: 655px;
  width: 100%;
}
.table-mdl-1-str-1 td:nth-child(1) {
  width: 8%;
}
.table-mdl-1-str-1 td:nth-child(2) {
  width: 26%;
}
.table-mdl-1-str-1 td:nth-child(3) {
  width: 17%;
}
.table-mdl-1-str-1 td:nth-child(4) {
  width: 26%;
}
.table-mdl-1-str-1 td:nth-child(5) {
  width: 10%;
}
/* ---table-mdl-1---end */


/* ---default-hero-section--- */
.default-hero-section {

}
.default-hero-image {
  width: 100%;
  height: 575px;
}
.default-hero-image .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.default-hero__content {
  padding: 0 0 35px;
  background: var(--theme__color3);
  color: #fff;
  position: relative;
  z-index: 1;
}
.default-hero__content::before {
  content: '';
  width: 100%;
  height: 193px;
  background: url('images/default-hero-content-bg-short.png') no-repeat center center/100% 100%;
  display: block;
  position: absolute;
  bottom: calc(100% - 2px);
  left: 0;
  z-index: -1;
}
.default-hero__content__inner {
  margin-top: -40px;
}
.default-hero__content h1 {
  font-size: 50px;
  line-height: 1.15;
  margin: 0 0 12px;
}
.default-hero__content p {
  font-size: 25px;

  font-weight: 600;
  font-family: var(--novel-display);
}
/* ---default-hero-section---end */